<!DOCTYPE html>
<html>
  <head>
    <title>NTB: Posts Sample with Documentation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<%= link_to image_tag('close_icon.png'), @post %>

    <div class="container">
      <BR><BR><BR>
      <%= yield %>
    </div>

  </body>
</html>
